<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="MyStudy"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStudy">

        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />

        <activity android:name=".AdminLoginActivity" android:exported="false" />
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".StudentManagementActivity" android:exported="false" />
        <activity android:name=".ClassManagementActivity" android:exported="false" />
        <activity android:name=".SubjectManagementActivity" android:exported="false" />
        <activity android:name=".ChapterManagementActivity" android:exported="false" />
        <activity android:name=".LessonManagementActivity" android:exported="false" />
        <activity android:name=".QuestionManagementActivity" android:exported="false" />
        <activity android:name=".QuizManagementActivity" android:exported="false" />
        <activity android:name=".GamificationManagementActivity" android:exported="false" />
        <activity android:name=".AnnouncementManagementActivity" android:exported="false" />
        <activity android:name=".AdminManagementActivity" android:exported="false" />
        <activity android:name=".AdminExamResultsActivity" android:exported="false" />
        <activity android:name=".AdminSettingsActivity" android:exported="false" />

        <activity android:name=".StudentClassActivity" android:exported="false" />
        <activity android:name=".StudentSubjectActivity" android:exported="false" />
        <activity android:name=".StudentChapterActivity" android:exported="false" />
        <activity android:name=".StudentLessonActivity" android:exported="false" />
        <activity android:name=".StudentPracticeActivity" android:exported="false" />
        <activity android:name=".StudentDashboardActivity" android:exported="false" />

        <activity android:name=".StudentExamActivity" android:exported="false" />
        <activity android:name=".StudentExamAttemptActivity" android:exported="false" />
        <activity android:name=".StudentExamHistoryActivity" android:exported="false" />

        <activity android:name=".ParentPinActivity" android:exported="false" />
        <activity android:name=".ParentDashboardActivity" android:exported="false" />

        <activity android:name=".SettingsActivity" android:exported="false" />

    </application>

</manifest>
