<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="MyStudy"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStudy">

        <activity
            android:name=".IntroActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".AdminLoginActivity"
            android:exported="false" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />

        <activity
            android:name=".StudentManagementActivity"
            android:exported="false" />

        <activity
            android:name=".ClassManagementActivity"
            android:exported="false" />

        <activity
            android:name=".SubjectManagementActivity"
            android:exported="false" />

        <activity
            android:name=".ChapterManagementActivity"
            android:exported="false" />

        <activity
            android:name=".LessonManagementActivity"
            android:exported="false" />

        <activity
            android:name=".QuestionManagementActivity"
            android:exported="false" />

    </application>

</manifest>
